@media screen and (max-width: 1000px) {
    .table-responsive{
	height:600px !important;;
}
#myTable th { 
  font-size: 30px !important;;
}
#myTable td { 
  font-size: 30px !important;;
}
.responsive-tabs-container.accordion-xs .accordion-link {
    font-size: 36px !important;
    color: #FFF !important;;
    background-color: #337ab7 !important;;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link {
    margin-bottom: 30px !important;;
}
.table{
background-color: #fff !important;
}
.background{
background-color: #fff !important;

}
.heading{
background-color:#fff !important;;
font-size: 50px !important;
padding-top:20px !important;
padding-bottom:20px !important;
}
.fontclass{
font-size: 30px !important;
padding-bottom:20px !important;
}
.searchclass{
height: 50px !important;
font-size: 30px !important;
}
.table-responsive{
padding-top:30px !important;
background-color:#fff;
padding-bottom:30px !important;
}
.btn {
font-size: 30px !important;
padding: 1px 5px !important;;
}
.well{
padding:5% !important;
}
.input-lg {
    height: 60px !important;;
    }
.header-main {
    width: 70% !important;
    padding: 6em 2em;
    font-size:30px;
}
.header-left-bottom input[type="text"],.header-left-bottom input[type="password"] {
    font-size: 30px;
}

.alertify .ajs-dialog {
    margin: 5% auto;
    min-height: 15% !important;
    max-width: 90% !important;
    padding: 24px 24px 0 24px;
    font-size: 30px !important;
}
.modal-content{
	font-size: 25px !important;
}
.imgdimensions{
	width : 35px !important;
	height : 35px !important;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
.modal-dialog {
    width: 97%;
    margin: 42px auto;
    height: 100% !important;
}
.form-control {
font-size: 110%;
height: 80px !important;
	}
	
.bootstrap-datetimepicker-widget td.day {
    width: 600px;
    line-height: 10px;
    font-size: 20px;
}
th.dow {
    font-size: 20px;
}
}
.alertify.ajs-closable .ajs-commands button.ajs-close {
    display: none !important;
}
